<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- ==========启动组件扫描，排除@Controller组件，该组件由SpringMVC配置文件扫描 ========== -->
	<!-- 必须保证spring-web.xml的<context:component-scan>只扫描Controller,而spring-context.xml里的不包含Controller。否则你定义在spring-context.xml里的事务就要失效了 -->
	<context:component-scan base-package="com.test">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 配置事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<!-- 注入数据库连接池 -->
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 配置基于注解的声明式事务 -->
	<!-- @Transactional事物只支持Service层！如果需要在controller支持事物 需要配置在mvc上下文中 -->
	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>
</beans>
